* {
    box-sizing: border-box;
}
.container {
    padding-right: 0;
    padding-left: 0;
}

.app {
    max-width: 22rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    padding: 0.5rem;
    height: 4rem;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.footer {
   display: flex;
}

.footer button {
    width: 100%;
}
.item {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.title {
    border-bottom: 1px solid black;
    width: 100%;
    padding: 0.5rem 0.8rem;
}
.item .input-group-append {
    width: 4rem;
}
.input-group-prepend {
    cursor: pointer;
}